[submodule "public"]
	path = public
	url = git@github.com:AaronME/AaronME.github.io.git
[submodule "tour"]
	path = tour
	url = git@github.com:AaronME/ATourOfCrossplane.git
[submodule "themes/hugo-winston-theme"]
	path = themes/hugo-winston-theme
	url = git@github.com:AaronME/hugo-winston-theme.git
	branch = aaroneaton-com
